body {
  font-size: 16px;
  color: #fff;
  background-color: #008080; /* #61122f;*/
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #FAFAD2;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #008B8B; /* #557c3e; kind of green*/
  font-size: 1.5em;
  text-transform: capitalize;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0; /* to keep*/
  margin-bottom: 0; /* to keep*/
  position: center;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none; /*since food llc is a link, this remove the automatic underline
}

#nav-list a {
  color:  #008B8B; /* bordeaux */
  font-size: 1.1em;
}

#nav-list a:hover {
  background: #E7E7E7; /* change the item background color on hover*/
}

#nav-list li{
  border-bottom: 1px solid lightgrey; 
  margin :0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #008B8B; /*#61122f;*/ /*color the button and all its items in bordeaux */
}

.section-bgk-color {
  background-color: #FAFAD2;
}

.title-size{
  font-size: 1.5em;
}

h2{
  color : #FAFAD2;
  font-size: 3em;
}

div section{
  color : #008B8B;
  padding : 15px;
  margin-top : 20px;
  margin-bottom: 10px;
}


